
footer .footer-content .footer-top {
    background-color: #001740;
    padding: 50px 0;
}

footer .footer-content .footer-top .col .logo {
    overflow: hidden;
    margin-bottom: 40px;
}

footer .footer-content .footer-top .col .social {
    margin-bottom: 40px;
}

footer .footer-content .footer-top .col .social ul {
    margin: 0;
    padding: 0;
}

footer .footer-content .footer-top .col .social ul li {
    display: inline-block;
    margin-right: 1px;
}


footer .footer-content .footer-top .col .social ul li a {
    color: #fff;
    display: block;
    width: 37px;
    height: 37px;
    line-height: 33px;
    font-size: 17px;
    border: 2px solid #fff;
    text-align: center;
    border-radius: 100%;
    transition: 0.5s;
}

footer .footer-content .footer-top .col .trademark p a {
    font-size: 11px;
    color: #fff;
}

div.listas ul{
	list-style: none;
	color: #fff;
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
}


div.listas ul li{
	margin-top: 1em;
	margin-bottom: 1em;
}

div.buttonss{
	background-color: white;
	margin: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	border-radius: 25px;
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 80%;
}

div.buttonss a
{
	color: #001740;
	text-transform: uppercase;
	font-weight: bold;
}

footer .footer-content .footer-bottom {
    padding: 30px;
}


footer .footer-content .footer-bottom .container {
    max-width: 1300px;
}
/*.sticky{
  position: fixed !important;
  top: 0;
  left: 0; 
  right: 0;
  
     z-index: 4000;
    width: 100%;
    height:40px;
}*/

#myHeader {
    left: 0; 
    top: 0;
    position: fixed !important;
    width: 100%;
    z-index: 2;
}

div.section-logins{
     margin-top: 1.5em;
    background-color: #0066cb;
    text-align: center;
    padding: 35px 0;
    background-image: url(../../storage/app/public/images/gradiente-login.png);
    /*background-image: url(http://portal.ucm.cl/content/themes/ucm/resources/assets/images/gradiente-login.png);*/
}

.bienvenidalog{
 opacity: 0.8;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    background-image: url(../../storage/app/public/images/estudianteslog.jpg);
    padding: 35px 0;
    padding-bottom: 1.5rem;
     margin-bottom: 1.5em;
}

header .header-content {
    box-shadow: 0 0 30px rgba(0,0,0,0.1);
    background-color: #fff;
    float: left;
    width: 100%;
}

header .header-content .header-top {
    background-color: #253e85;
    height: 35px;
    transition: 0.5s;
    float: left;
    width: 100%;
}

.header-top .col ul li.current-menu-item {
    background-color: #001740;
}


header .header-content .header-top .col ul li:hover, header .header-content .header-top .col ul li.current-menu-item {
    background-color: #001740;
}

ul.menu{
    display: inline-block;
}


header .header-content .header-top .col ul li {
    display: inline-block;
    vertical-align: middle;
}

header .header-content .header-top .col .social ul li a {
    font-size: 16px;
    transition: 0.5s;
    width: 35px;
    height: 35px;
    line-height: 35px;
    padding: 0;
    text-align: center;
}

header .header-content .header-top .col ul li a {
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
}


header .header-content .header-bottom {
    float: left;
    width: 100%;
}

header .header-content .header-bottom .col .logo {
    padding: 25px 0;
    overflow: hidden;
    max-width: 196px;
}

#wrapper {
  width: 100%;
  max-width: 1920px;
  margin: auto;
  position: relative;
  z-Index: 1;
}


#app {
    min-height: 200px;
    margin-top: 130px;
    z-index: 1;
    position: relative;
}


@media only screen and (max-width: 768px) {
    .header-top {
        display: none;
    }
}


input {
  border: none;
  background: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  box-sizing: border-box;
  width: 100%;
  padding: 13px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #222;
  display: block;
  position: relative;
  z-index: 9; }

  input::-webkit-input-placeholder {
    color: #999; }
  input::-moz-placeholder {
    color: #999; }
  input:-ms-input-placeholder {
    color: #999; }
  input:-moz-placeholder {
    color: #999; }

.containerblue{
  background-color: #253e85;
  color: #fff;
  height: 70px;
  line-height: 70px;
}

.containerblue span{
  display: inline-block;
  vertical-align: middle;
}

div.paddingesp{
  padding-right: 5px !important;
  padding-left: 5px !important;
}

div.formulcard{
  border-radius: 0px 0px 0.25rem 0.25rem;
}

div.demo{
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin: 15px auto;
  text-align: center;
  border-radius: 0.5rem;
  background-color: #253E85;
  max-width: 500px;
  max-height: 500px;
  color:white;
}



.breadcrumbpers {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #253e85;
  border-radius: 0.25rem;
}

.breadcrumbpers-item + .breadcrumbpers-item {
  padding-left: 0.5rem;
}

.breadcrumbpers-item + .breadcrumbpers-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #FFFFFF;
  content: ">";
}

.breadcrumbpers-item + .breadcrumbpers-item:hover::before {
  text-decoration: underline;
  color: #F70B27;
  border-bottom: 1px solid #d4a947;
}

.breadcrumbpers-item + .breadcrumbpers-item:hover::before {
  text-decoration: none;
}

.breadcrumbpers-item.active {
  color: #FFFFFF;
  border-bottom: 1px solid #d4a947
  /*background-color: #001740;*/
}

a.white-text{
   color: #FFFFFF;
}










.breadcrumbpers2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: 0.25rem;

}

.breadcrumbpers2-item + .breadcrumbpers2-item {
  padding-left: 0.5rem;
  background-color: #ebecef;

}

.breadcrumbpers2-item + .breadcrumbpers2-item::before {
  display: inline-block;
  padding-right: 1rem;
  color: #57585e;
  content: ">";

}

.breadcrumbpers2-item + .breadcrumbpers2-item:hover::before {
  text-decoration: underline;
  border-bottom: 1px solid #D4474A;
  color: #EA062C;
}

.breadcrumbpers2-item + .breadcrumbpers2-item:hover::before {
  text-decoration: none;

}

.breadcrumbpers2-item.active::before {
  color: #0066cb;
  background-color: #fff;
   border-bottom: 1px solid #51D447;
   text-decoration: underline;
  /*background-color: #001740;*/
}


.breadcrumbpers2-item.active {
  color: #0066cb;
  background-color: #fff;
  /*background-color: #001740;*/
}


.breadcrumbpers2-item.active::after {
  color: #0066cb;
  background-color: #fff;
   text-decoration: underline;
   content: "";
   padding-right: 1rem;
  /*background-color: #001740;*/
}


.breadcrumbpers2-item.active::after {
  color: #0066cb;
  background-color: #fff;
   text-decoration: underline;
   border-bottom: 1px solid #51D447;
  /*background-color: #001740;*/
}


a.white-text2{
   color: #57585e;
}

a.white-text2:hover{
   
}










ul#breadcrumbs-one  {
  margin: 0;
  padding: 0;
  list-style: none;
  color: #57585e;
}

#breadcrumbs-one{
  background: #eee;
  border-width: 1px;
  border-style: solid;
  border-color: #f5f5f5 #e5e5e5 #ccc;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  overflow: hidden;
  width: 100%;
}

#breadcrumbs-one li{
  float: left;
}

#breadcrumbs-one a{
  padding: .7em 1em .7em 2em;
  float: left;
  text-decoration: none;
  color: #444;
  position: relative;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  background-color: #ddd;
  background-image: linear-gradient(to right, #f5f5f5, #ddd);  
}

#breadcrumbs-one li:first-child a{
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
}

#breadcrumbs-one a:hover{
  background: #fff;
}

#breadcrumbs-one a::after,
#breadcrumbs-one a::before{
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

#breadcrumbs-one a::after{ 
  z-index: 2;
  border-left-color: #ddd;  
}

#breadcrumbs-one a::before{
  border-left-color: #ccc;  
  right: -1.1em;
  z-index: 1; 
}

#breadcrumbs-one a:hover::after{
  border-left-color: #fff;
}

#breadcrumbs-one .current,
#breadcrumbs-one .current:hover{
  font-weight: bold;
  background: none;
}

#breadcrumbs-one .current::after,
#breadcrumbs-one .current::before{
  content: normal;  
}















/*------------------------------ */


#pricing-table {
  margin: 20px auto;
  text-align: center;
  width: 892px; /* total computed width = 222 x 3 + 226 */
}

#pricing-table .plan {
  font: 12px 'Lucida Sans', 'trebuchet MS', Arial, Helvetica;
  text-shadow: 0 1px rgba(255,255,255,.8);        
  background: #fff;      
  border: 1px solid #ddd;
  color: #333;
  padding: 20px;
  width: 180px; /* plan width = 180 + 20 + 20 + 1 + 1 = 222px */      
  float: left;
  position: relative;
}

#pricing-table #most-popular {
  z-index: 2;
  top: -13px;
  border-width: 3px;
  padding: 30px 20px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
  -webkit-box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);
  box-shadow: 20px 0 10px -10px rgba(0, 0, 0, .15), -20px 0 10px -10px rgba(0, 0, 0, .15);    
}

#pricing-table .plan:nth-child(1) {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;        
}

#pricing-table .plan:nth-child(4) {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;        
}

/* --------------- */ 

#pricing-table h3 {
  font-size: 20px;
  font-weight: normal;
  padding: 20px;
  margin: -20px -20px 50px -20px;
  background-color: #eee;
  background-image: -moz-linear-gradient(#fff,#eee);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#eee));    
  background-image: -webkit-linear-gradient(#fff, #eee);
  background-image: -o-linear-gradient(#fff, #eee);
  background-image: -ms-linear-gradient(#fff, #eee);
  background-image: linear-gradient(#fff, #eee);
}

#pricing-table #most-popular h3 {
  background-color: #ddd;
  background-image: -moz-linear-gradient(#eee,#ddd);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));    
  background-image: -webkit-linear-gradient(#eee, #ddd);
  background-image: -o-linear-gradient(#eee, #ddd);
  background-image: -ms-linear-gradient(#eee, #ddd);
  background-image: linear-gradient(#eee, #ddd);
  margin-top: -30px;
  padding-top: 30px;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;     
}

#pricing-table .plan:nth-child(1) h3 {
  -moz-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0;       
}

#pricing-table .plan:nth-child(4) h3 {
  -moz-border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  border-radius: 0 5px 0 0;       
} 

#pricing-table h3 span {
  display: block;
  font: bold 25px/100px Georgia, Serif;
  color: #777;
  background: #fff;
  border: 5px solid #fff;
  height: 100px;
  width: 100px;
  margin: 10px auto -65px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  -moz-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
  -webkit-box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
  box-shadow: 0 5px 20px #ddd inset, 0 3px 0 #999 inset;
}

/* --------------- */

#pricing-table ul {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
}

#pricing-table li {
  border-top: 1px solid #ddd;
  padding: 10px 0;
}

/* --------------- */
  
#pricing-table .signup {
  position: relative;
  padding: 8px 20px;
  margin: 20px 0 0 0;  
  color: #fff;
  font: bold 14px Arial, Helvetica;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;       
  background-color: #253e85;
  background-image: -moz-linear-gradient(#253e85, #0C0C5F);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#72ce3f), to(#0C0C5F));    
  background-image: -webkit-linear-gradient(#253e85, #0C0C5F);
  background-image: -o-linear-gradient(#253e85, #0C0C5F);
  background-image: -ms-linear-gradient(#253e85, #0C0C5F);
  background-image: linear-gradient(#253e85, #0C0C5F);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;     
  text-shadow: 0 1px 0 rgba(0,0,0,.3);        
  -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5), 0 2px 0 rgba(0, 0, 0, .7);
}

#pricing-table .signup:hover {
  background-color: #62bc30;
  background-image: -moz-linear-gradient(#E6C52A, #C8AB21);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#62bc30), to(#C8AB21));      
  background-image: -webkit-linear-gradient(#E6C52A, #C8AB21);
  background-image: -o-linear-gradient(#E6C52A, #C8AB21);
  background-image: -ms-linear-gradient(#E6C52A, #C8AB21);
  background-image: linear-gradient(#E6C52A, #C8AB21); 
}

#pricing-table .signup:active, #pricing-table .signup:focus {
  background: #62bc30;       
  top: 2px;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, .7) inset; 
}


@media only screen and (max-width: 767px) and (min-width: 480px)
{
    .icon-12{ display:none; }
}

/* --------------- */

/*.clear:before, .clear:after {
  content:"";
  display:table
}

.clear:after {
  clear:both
}

.clear {
  zoom:1
}*/



.section-content-share {
  padding: 0 40px;
  overflow: hidden;
  margin-bottom: 30px;
}


.container .section-content-title h3 {
    font-size: 30px;
    color: #57585e;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.section-content-share .share-box {
    float: left;
    background-color: #253e85;
    padding: 8px 20px;
    border-radius: 20px;
}

.section-content-share .share-box a {
    color: #fff;
    font-size: 15px;
    margin: 0 10px;
}

